body{
    /*fondo de pantalla*/
    background-color: #1c1c1c;
}
h1{
    /*titulos*/
    font-weight: bold;
    color: #e0a22c;
}
h2{
  /*titulos*/
  font-weight: bold;
  color: #e0a22c;
}
.sensilla{
    /*color de letras sobre casillas*/
    font-size: medium;
    font-weight: bold;
    color: #e0a22c;
}

@keyframes cambiaColor {
    /*Animacion de cambio de color*/
    0% { background-color: #e0a22c; }
    50% { background-color: #4c4424; }
    100% { background-color: #e0a22c; }
  }
  
  .btn-custom {
    background-color: #e0a22c; /* Color inicial */
    animation: cambiaColor 2s infinite; /* Animación infinita */
  }
  
  .btn-custom:hover {
    /*Detiene la animación al pasar el mouse */
    animation-play-state: paused;  
     }
th{
  color: #e0a22c;
}
td{
  color: #e0a22c;
}
p{
    /*color de letras sobre casillas*/
    font-size: medium;
    font-weight: bold;
    color: #e0a22c;
}